:root{
    --color-baby-blue: #D4F1F4;
    --line-border-fill: purple;
    --line-border-empty: grey;
}
body{
    height: 100vh;
}
.content{
    padding-left: 25vw;
    padding-right: 25vw;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    height: 0;
    font-size: 20px;
}


h3{
    font-size: 45px;
}

footer{
    height: 20vh;
}

.bottom-page-scrolls{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3vw 25vw;
}

table, th, td{
    border: 1px solid;
}

table{
    margin-left: 20%;
    width: 60%;
    border-collapse: collapse;
}

th, td{
    padding: 1vw;
}

.graph{
    margin-left: 20%;
    width: 60%;
}


footer > div > a{
    background-color: var(--color-light-purple);
    color: var(--color-white);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    transition-duration: 0.4s;
}

footer > div > a:hover{
    background-color: var(--color-dark-purple);
}

.solution{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    height: 0;
}

.toggle-solution{
    display: block;
}

.solution-button{
    transition-duration: 2s;
}

.show-answer-button{
    margin-top: 15px;
    background-color: var(--color-light-purple);
    color: var(--color-white);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    transition-duration: 0.4s;
    font-size: 15px;
}

.show-answer-button:hover{
    background-color: var(--color-dark-purple);
}

@media (max-width: 700px) {

}

/* 
#myProgress {
    width: 0%;
    width: var(--interval);
    background-color: white;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #7189FF;
}

#ratio {
    color: aqua;
}
*/

.container{
    text-align: center;
} 

.progree-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 1700px;
}

.progree-container::before{
    content: "";
    background-color: var(--color-lighter-purple);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress{
    background-color: var(--color-light-purple);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.item{
    color: var(--color-dark-purple);
}

.circle{
    background-color: var(--color-white);
    color: var(--line-border-empty);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid #b2bec3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    cursor: pointer;

}

.circle.active{
    border-color: var(--color-dark-purple);
    cursor: pointer;
}

.circle.inactive{
    color: var(--line-border-empty);
}


/* .btn{
    background-color: var(--line-border-fill);
    color: white;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
} */

/* .btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.97);
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
} */